<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h1>Todo</h1>
    <hr />
    <ul>
        {% for todo in todos  %}
            <li>{{ todo.text  }}</li>
        {% endfor  %}
    </ul>
    <hr />
    <a>It all ends here!</a>
</body>
</html>