<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h1>Todo</h1>
    <hr />
        <ul>
        {% for todo in todos  %}
            <li>
                <form action="{% url 'todo_app:change_status' %}" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" name="checked" {% if todo.status %}checked{% endif %} >
                    <button>Update</button>
                    <input type="hidden" name="pk" value="{{ todo.pk }}">
                    {{ todo.text }}
                </form>
            </li>
        {% endfor %}
        </ul>
    <hr />
    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="text" placeholder="Write your todo item here!" />
        <button>Create todo</button>
    </form>
</body>
</html>